/* Сообщение о регистрации */
  .alert-register {
    text-align: center;
    padding: 20px;
    color : #1C5BC9;
    border: 1px solid #CECECE;
    border-radius: 4px;
  }
    .alert-register__buttons {
      margin-top: 20px;
      height: 40px;
    }
      .alert-register .button.middle {
        display: inline-block;
        margin: 0 15px;
        padding: 1px 15px;
        width: auto;
        min-width: 170px;
      }
/* Стили блока комментов */
  .b-comments-container {
    margin: 20px 0 0 20px;
  }
    .paginator .pagin-container .b-comments-item.item {
      min-width: 100%;
      margin-bottom: 20px;
    }
      .b-comments-title {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-right: 10px;
      }
      .b-comments-item {
        padding-right: 20px;
      }
        .b-comments-title-user {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: flex-end;
          -ms-flex-align: flex-end;
          align-items: flex-end;
        }
          .b-comments .b-comments-title-user img {
            height: 50px;
            width: 50px;
            object-fit: cover;
          }
          .b-comments-title-user a {
            margin-left: 10px;
          }
        .b-comments-title .data {
          -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
          align-self: flex-start;
        }
      .b-comments-text {
        margin-left: 60px;
      }
    .b-comments__add {
      margin-top: 20px;
      margin-bottom: 20px;
    }
      .b-comments__add .button {
        margin-top: 20px;
        margin-left: auto;
      }