.block.b-mark {

}
  .b-mark__list {
    width: 57px;
    margin: 0 auto;
  }
    .b-mark__list li {
    }
    .b-mark__list-item {
      -webkit-perspective: 100px;
      perspective: 100px;
      will-change: transform;
      display: block;
      height: 35px;
      width: 100%;
      margin: 5px auto;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: -webkit-transform 0.2s ease;
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
      .b-mark__list-item:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }

@media (min-width: 769px) {
  section .block.b-mark {
    padding-left: 0;
    padding-right: 0;
  }
}