    .paginator {
      width: 100%;
    }
    
    .paginator .pagin-container {
      display: -webkit-flex;
      display: flex;
      clear: both;
      margin-right: -10px;
    }
      .paginator .pagin-container.pagin-wrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: -10px;
      }
      .paginator .pagin-container .item {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        margin-right: 10px;
      }
      .paginator .pagin-container.pagin-wrap .item {
        margin-bottom: 10px;
      }
    .controll {
      margin-top: 20px;
      font-size: 0;
    }
      .controll .item {
        display: inline-block;
        text-align: center;
        height: 36px;
        width:  36px;
        margin-right: 10px;
        font-weight: bold;
        line-height: 36px;
        color: #1C5BC9;
        border-radius: 50%;
        border: 1px solid #97A9C9;
        cursor: pointer;
        -webkit-transition: color 0.2s ease,
                    background-color 0.2s ease;
        transition: color 0.2s ease,
                    background-color 0.2s ease;
      }
      .controll .item:last-child {
        margin-right: 0;
      }
      .controll .m-pagination_hide.item {
        opacity: 0.4;
        pointer-events: none;
      }
      .controll .item:hover {
        color: #FFFFFF;
        background-color: #1C5BC9;
      }
      .controll .m-pagination-item_current.item {
        color: #FFFFFF;
        background-color: #1C5BC9;
      }