h1,
h3,
h4 {
  color: #0038A8;
}
  .b-one-news figure {
    width: 100%;
    margin: 45px 0;
  }
  .b-one-news__title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
    a.b-one-news__title-back {
      max-width: 100px;
      margin-right: 20px;
      cursor: pointer;
      color: #afb6c3;
    }
    .b-one-news__title-back + h1 {
      padding-left: 20px;
    }
    .b-post__item-info {
      margin-left: 55px;
    }
    .b-one-news__content {
      padding-top: 10px;
    }
    .text-content p.text,
    .text-content p.lead {
      line-height: 1.7em;
    }
      .text-content p.lead {
        margin-bottom: 20px;
      }
      .b-one-news__content p {
        margin: 5px 0;
      }

.b-post__item-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}
  .b-rating-dislike-bar {
    display: inline-block;
  }
  .b-one-news__social {
    margin-top: 0;
    margin-left: 20px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

.b-coment-wrapp h3 {
  display: inline-block;
}
  .b-reclame-item {
    margin-top: 20px;
    width: 100%;
  }

  .b-comments {
    margin-top: 20px;
  }