h4 {
  margin-bottom: 10px;
  color : #0038A8;
}
.l-appeal {
  margin-left: 8.333333%;
  padding: 20px 0 45px;
  width:  83.333333%;
  text-align: center;
}
  .l-appeal h3 {
    color: #0038A8;
  }
  .l-appeal p.text {
    margin: 15px 0 45px;
    font-size: 1rem;
  }
  .l-appeal .button {
    margin:  0 auto;
    width: 280px;
    background-color: #0038A8;
    background-image: url('../img/icon-appeal.svg');
    background-position: 15px center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }
    .l-appeal .button:hover {
      background-color: #1C86C9;
      cursor: pointer;
    }

.b-content {
}
  .b-content__lider {
  }
    .b-news__inner h3,
    .b-new-auto h3 {
      color : #0038A8;
    }
    .b-content__lider-article {
      position: relative;
      padding: 0 0 20px;
      z-index: 1;
    }
      .b-content__lider-article-img {
        margin-bottom: 10px;
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
      .b-content__lider-article-author {
        margin-bottom: 10px;
      }
        .b-content__lider-article-author-photo {
          position: relative;
          margin-right: 10px;
          top:  7px;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          object-fit: cover;
        }
        .b-content__lider-article-author-name,
        .b-content__lider-article-author-city {
          color: #737373;
        }
          .b-content__lider-article-author-city:before {
            content: ' (';
          }
          .b-content__lider-article-author-city:after {
            content: ')';
          }
      .b-content__lider-article .read-button {
        display: inline-block;
        margin-top: 15px;
      }

    .b-content__lider-previous,
    .b-content__lider-gaining {
      margin-bottom: 20px;
    }
      .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      .b-content__lider-previous p{
        margin-bottom: 20px;
      }
        .b-content__lider-previous p a,
        .b-content__lider-gaining p a,
        .b-content__popular p a {
          color: #1C5BC9;
        }
          .b-content__lider-previous p a:hover,
          .b-content__lider-gaining p a:hover,
          .b-content__popular p a:hover {
            color : #1C86C9;
          }
      .b-content__lider-previous-item {
        display: block;
        -ms-flex-preferred-size: calc(33.33337% - 20px);
        -webkit-flex-basis: calc(33.33337% - 20px);
        flex-basis: calc(33.33337% - 20px);
        max-width: calc(33.33337% - 20px);
        height: 155px;
      }
      .b-content__lider-gaining p,
      .b-content__popular p {
        margin-bottom: 5px;
      }
      .b-content__lider-gaining-item,
      .b-content__popular-item {
        -ms-flex-preferred-size: calc(25% - 20px);
        -webkit-flex-basis: calc(25% - 20px);
        flex-basis: calc(25% - 20px);
        max-width: calc(25% - 20px);
      }
    .b-content__popular h4,
    .b-new-auto__inner h4,
    .b-news__inner h4 {
      float: left;
    }
    .b-link-show-all {
      float: right;
      margin-top: 8px;
    }

.b-news {
}

  .b-news__inner {
  }
  .b-news__container {
    padding-top: 10px;
    clear: both;
  }
    
    .b-news__inner-item:not(:last-child) {
      margin-bottom: 20px;
    }
      .b-news__inner-item > div {
        position: relative;
      }
      .b-news__inner-item > div:after {
        position: absolute;
        bottom: 15px;
        left:  10px;
        display: block;
        height: 22px;
        padding: 0 10px;
        content: attr(data-name);
        text-align: center;
        font-family: 'Open Sans', sans-serif;;
        font-weight : bold;
        font-size : 0.55rem;
        line-height : 2em;
        color : #FFFFFF;
        border-radius: 11px;
        z-index: 2;
      }
      .b-news__inner-item img {
        margin-bottom: 7px;
        width:  100%;
        border-radius: 4px;
        object-fit: cover;
      }
      .b-news__inner-item .text {
        font-weight: bold;
        color : #1C5BC9;
      }
        .b-news__inner-item .text:hover {
          color : #1C86C9;
        }
        .b-news__inner-item span {
          color:  #CC3F3D;
        }
      .b-news__inner-item.m-news__inner-item_blog > div:after {
        background-color: #29ABE2;
      }
      .b-news__inner-item.m-news__inner-item_news-market > div:after {
        background-color: #CCB33D;
      }
      .b-news__inner-item.m-news__inner-item_company > div:after {
        background-color: #CC3F3D;
      }

.l-new-auto {
  
}
  .b-new-auto {
    
  }
      .b-new-auto__item {
        -ms-flex-preferred-size: calc(25% - 20px);
        -webkit-flex-basis: calc(25% - 20px);
        flex-basis: calc(25% - 20px);
        max-width: calc(25% - 20px);
      }
        .b-new-auto__item img {
          height: 120px;
        }
        .b-new-auto__item-name,
        .b-new-auto__item-auto {
          font-family: 'Open Sans', sans-serif;;
          font-size : 0.7rem;
          line-height : 1.7em;
          color : #333333;
        }
        .b-new-auto__item-name {
          font-weight: bold;
          color : #1C5BC9;
        }
          .firefox .b-news__inner-item a.text[data-clamp] {
            max-height: 4.2em;
          }

@media (max-width: 1100px) {
  .b-new-auto__item {
      -ms-flex-preferred-size: calc(25% - 20px);
      -webkit-flex-basis: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
      max-width: calc(25% - 20px);
  }
  .b-news__inner-item a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .b-mark__list {
    width: 100%;
  }
    .b-mark__list li {
      height: 57px;
      display: inline-block;
      width: calc( ( 100% - 40px ) / 7);
    }
  .b-news__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
    .b-news__inner-item {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
    .b-news__inner-item:nth-of-type(odd) {
      padding-right: 10px;
    }
    .b-news__inner-item:nth-of-type(even) {
      padding-left: 10px;
    }
}}