.b-community {
  
}
  .b-community .b-main-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
  }
  .b-main-title > h1 {
    margin: 0;
  }
    .b-main-title .b-filter__switch {
      min-width: 360px;
    }
  .paginator {
    padding-top: 16px;
  }
  .b-community__item {
    -ms-flex-preferred-size: calc(33.33337% - 20px);
    -webkit-flex-basis: calc(33.33337% - 20px);
    flex-basis: calc(33.33337% - 20px);
    max-width: calc(33.33337% - 20px);
  }
    .b-community__item img {
      margin-bottom: 7px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

  .b-community__item .text {
    line-height: 1.1rem;
  }
  .b-community__item a {
    font-weight: bold;
    color: #1C5BC9;
    transition: color 0.2s ease;
  }
    .b-community__item a:hover {
      color: #297DE2;
    }
  .b-filter-wrapp a {
    color: #0038A8;
  }
  .b-filter__switch {
    margin-top: 0;
  }
   
  .b-filter__switch-item {
    float: left;
    height: 40px;
    width: 33.3333337%;
    text-align: center;
    font-size: 0.7rem;
    line-height: 36px;
    border-left: none;
    background-color: #FFFFFF;
    color: #0038A8;
    transition: color 0.2s ease,
                background-color 0.2s ease;
  }
    .b-filter__switch-item:first-child {

    }
    .b-filter__switch-item:last-child {
      border-left: none;
    }
    .m-filter__switch-item_active.b-filter__switch-item {
      background-color: #0038A8;
      color: #FFFFFF;
    }

  .b-filter__form {
    clear: both;
    padding-top: 20px;
  }
    .b-filter h4 {
      color: #1C5BC9;
      text-align: center;
      font-weight: bold;
      margin-bottom: 7px;
    }
      .b-filter h5 {
        color: #1C5BC9;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }

    .b-add-car__form-item.droplist {
      width: 100%;
    }
    .b-add-car__form-item.droplist:not(:first-child) {
      margin-top: 20px;
    }    .b-filter__form .button.middle {
      margin-top: 20px;
      width: 100%;
    }