@font-face {
  font-family: 'myriadPro-regular';
  src: url('../fonts/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
    url('../fonts/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular.ttf') format('truetype'),
}

/* Header styles */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size : 72px;
  line-height : 79px;
  color : #333333;
}
h2 {
  font-family: 'Open Sans', sans-serif;;
  font-size : 36px;
  line-height : 45px;
  color : #333333;
}
h3 {
  font-family: 'Open Sans', sans-serif;;
  font-size : 28px;
  line-height : 41px;
  color : #333333;
}
h4 {
  font-family: 'Open Sans', sans-serif;;
  font-weight : bold;
  font-size : 24px;
  line-height : 29px;
  color : #333333;
  color : rgb(51, 51, 51);
}
h5 {
  font-family: 'Open Sans', sans-serif;;
  font-weight : bold;
  font-size : 16px;
  line-height : 22px;
  color : #333333;
}
h6 {
  font-family: 'Open Sans', sans-serif;;
  font-size : 14px;
  line-height : 16px;
  text-transform : uppercase;
  color : #333333;
}

/* Text styles */
.text {
  font-family: 'Open Sans', sans-serif;;
  font-size : 14px;
  line-height : 20px;
  color : #333333;
}
  .text.bold {
    font-weight : bold;
  }
  .text.subtext {
    font-size : 12px;
    line-height : 16px;
  }
    .text.subtext.bold {
      font-weight : bold;
      line-height : 16px;
      color : #1C5BC9;
    }

/* Buttons */
.button,
input[type='submit'].button {
  display: block;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;;
  font-weight : bold;
  color : #FFFFFF;
  text-align: center;
  text-decoration: none;
  background-color: #0038A8;
  -webkit-transition: background-color 0.15s linear,
                      color 0.15s linear;
  transition: background-color 0.15s linear,
                         color 0.15s linear;
}
  .button:hover,
  input[type='submit'].button:hover {
    background-color: #297DE2;
    cursor: pointer;
  }
  .button.small {
    height : 33px;
    font-size : 12px;
    -moz-border-radius : 16px;
    -webkit-border-radius : 16px;
    border-radius : 16px;
  }
  .button.middle {
    width : 111px;
    height : 40px;
    font-size : 14px;
    -moz-border-radius : 20px;
    -webkit-border-radius : 20px;
    border-radius : 20px;
  }
  .button.big {
    width : 152px;
    height : 52px;
    font-size : 20px;
    -moz-border-radius : 26px;
    -webkit-border-radius : 26px;
    border-radius : 26px;
  }

/* Styles <inputs> */
input:not([type="radio"]),
input:not([type="submit"]) {
  height : 40px;
  padding: 7px 18px;
  font-family: 'Open Sans', sans-serif;;
  font-weight : bold;
  font-size : 14px;
  line-height : 20px;
  color : #333333;
  background : #F0F0F0;
  outline: none;
  border:  none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius : 4px;
  -webkit-border-radius : 4px;
  border-radius : 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
  input:focus {
    background : #F8F8F8;
  }
  /* Style placeholder */
  input[placeholder]          {text-overflow:ellipsis;}
  input::-moz-placeholder     {text-overflow:ellipsis;}
  input:-ms-input-placeholder {text-overflow:ellipsis;}
  input::-webkit-input-placeholder {
    color:#c0392b;
    opacity: 1; 
    transition: opacity 0.3s ease;
  }
  input::-moz-placeholder {
    color:#c0392b;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:-ms-input-placeholder  {
    color:#c0392b;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  input:focus::-webkit-input-placeholder {
    color:#c0392b;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus::-moz-placeholder {
    color:#c0392b;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-ms-input-placeholder {
    color:#c0392b;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
    /* Reset autocomplit */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0;
      -webkit-text-fill-color: #FFFFFF;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
    }

a {
  text-decoration: none;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

/* menu */
.l-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 86px;
  background-color: #FFFFFF;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  z-index: 10000;
}
  .l-menu.m-menu_small,
  .m-menu_small .b-menu__wrapp-logo {
      height: 43px;
  }
  .b-menu__wrapp {
    position: relative;
    padding: 0 10px;
  }
  .b-menu__wrapp-logo {
    display: inline-block;
    width: 185px;
    height: 86px;
    background-image: url('../img/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .b-menu__wrapp-list {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center;
    justify-content: center;
  }
    .b-menu__wrapp-list li {
      display: inline-block;
      flex:  1;
      text-align: center;
    }
    .b-menu__wrapp-list li:last-child {
      margin-right: 0;
    }
    .b-menu__wrapp-list li a {
      color: #66615B;
    }
      .b-menu__wrapp-list li a:hover {
        color: #403D39;
      }
  .b-menu__wrapp-login.text.bold {
    margin-right: 10px;
    padding-left: 20px !important;
    color: #187900;
    font-size: 14px;
    line-height : 33px;
    background-image: url('../img/icon-login.svg');
    background-color: #ABE766;
    background-position: 10px center;
    background-size: 14px 16px;
    background-repeat: no-repeat;
  }
    .b-menu__wrapp-login.text.bold:hover {
      background-color: #8fdf33;
      color: #1c8d00;
    }
    /* Попап входа */
    .b-menu__wrapp-login-popup {
      position: absolute;
      top: 95px;
      right: 20px;
      height: 220px;
      width: 300px;
      padding: 30px 20px;
      -webkit-transform: translate3d(50px, 0, 0);
      transform: translate3d(50px, 0, 0);
      opacity: 0;
      pointer-events: none;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 2px 20px rgba(0,0,0,0.5);
      -webkit-transition: opacity 0.2s ease,
                          -webkit-transform 0.25s ease;
      transition: opacity 0.2s ease,
                  transform 0.25s ease;
    }
      .m-open-popap.b-menu__wrapp-login-popup {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
      }
      .b-menu__wrapp-login-popup-close {
        position: absolute;
        top:  -10px;
        right:  -10px;
        height: 20px;
        width:  20px;
        background-color: #FFFFFF;
        border-radius: 50%;
        cursor: pointer;
      }
        .b-menu__wrapp-login-popup-close:after {
          position: absolute;
          display: block;
          content: '';
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: red;
          background-image: url('../img/icon-button-close.svg');
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
        }
      .b-menu__wrapp-login-popup-enter {
      }
        .b-menu__wrapp-login-popup-enter input {
          width: 100%;
          margin-bottom: 20px;
        }
        .b-menu__wrapp-login-popup-enter .button.middle {
          width: 48%;
          display: inline-block;
        }
        .b-menu__wrapp-login-popup-enter .button:last-child {
          float: right;
        }
    /* Попап регистрации */
    .b-menu__wrapp-register-popup {
      position: fixed;
      display: -webkit-flex;
      display: flex;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      pointer-events: none;
      background-color: rgba(0,0,0,0.5);
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      z-index: 10000;
    }
      .m-open-popap.b-menu__wrapp-register-popup {
        opacity: 1;
        pointer-events: auto;
      }
      .b-menu__wrapp-register-popup-window {
        position: relative;
        margin: auto;
        width: 500px;
        height: 500px;
        padding: 30px;
        background-color: #FFFFFF;
        border-radius: 4px;
      }
        .b-menu__wrapp-register-popup-window-register {
          
        }
          .b-menu__wrapp-register-popup-window-register input:not([type="radio"]) {
            width: 100%;
            margin-bottom: 15px;
          }
          .b-menu__wrapp-register-popup-window-register p {
            margin-bottom: 15px;
          }
          .b-menu__wrapp-register-popup-window-register label {
            padding: 0 30px;
          }
          
          .b-menu__wrapp-register-popup-window-register input[type="radio"] {
            position: relative;
            height: 25px;
            top: 7px;
            margin-right: 15px;
          }

main {
  min-width: 960px;
  padding: 20px 0 0;
  margin-top: 86px;
  background-color: #F7F7F7;
}
  .wrapper {
    max-width:1180px;
    margin: 0 auto;
  }
  section {
    display: flex !important;
    display: -webkit-flex !important;
    margin-bottom: 20px;
  }
  section .block {
    display: -webkit-flex;
    display: flex;
    position: relative;
    width: 100%;
    padding: 30px 20px 40px;
    background : #FFFFFF;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
    border-radius : 4px;
  }

    .dropdown-block {
      position: absolute;
      top: 40px;
      right: 20px;
    }
      .dropdown-block-current {
        position: relative;
        padding-right: 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
      }
        .dropdown-block-current:after {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -6px;
          display: block;
          content: '';
          width: 9px;
          height: 16px;
          background-image: url('../img/icon-date-arrow.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          -webkit-transition: background-image 0.25s ease;
          transition: background-image 0.25s ease;
        }
          .m-open-dropdown.dropdown-block-current:after {
            transform: rotate(180deg);
            background-image: url('../img/icon-date-arrow.svg');
          }
      .dropdown-block-list {
        position: relative;
        top: 10px;
        right: -25px;
        padding: 8px;
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        visibility: hidden;
        pointer-events: none;
        background-color: #F7F7F7;
        border-radius: 4px;
        -webkit-transition: opacity 0.2s ease,
                            -webkit-transform 0.25s ease;
        transition: opacity 0.2s ease,
                    transform 0.25s ease;
        z-index: 3;
      }
        .dropdown-block-list:after {
          position: absolute;
          display: block;
          top: -20px;
          right: 20px;
          content: '';
          border: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #F7F7F7;
        }
      .m-open-dropdown.dropdown-block-current + .dropdown-block-list {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
        box-shadow: 0 2px 2px rgba(0,0,0,0.5);
      }
        .dropdown-block-list li {
          line-height: 30px;
        }
          .dropdown-block-list li a {
            font-family: Open Sans;
            font-size: 14px;
            color: #333333;
          }
            .dropdown-block-list li a:hover {
              color: #787878;
            }

.l-footer {
  height: 75px;
  width: 100%;
  background-color: #FFFFFF;
}
  .l-footer .wrapper {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px;
  }
    .l-footer nav,
    .l-footer ul {
      width:  100%;
    }
    .l-footer ul li {
      display: inline-block;
      margin-right: 20px;
    }
    .l-footer ul li:last-child {
      float: right;
    }
    .b-footer-link {
    }
      .b-footer-link:hover {
        color: #020202;
      }
@media (max-width: 1100px) {
  .b-menu__wrapp-login.text.bold {
      background-position: 10px center;
      background-size: 10px 16px;
  }
}


