.b-add-blog__form {
  width: 100%;
}

#title {
  width: 554px;
}
.slim:after {
  font-size: 70px;
}
  .b-add-blog__form-item {
    margin-top: 20px
  }
  .b-add-blog__form .button.middle {
    margin-top: 20px;
    width: 200px;
  }
  .b-add-blog__form .button.middle[type='submit'] {
    background-color: #8FDF33;
    color: #187900;
  }
    .b-add-blog__form .button.middle[type='submit']:hover {
      background-color: #8FDF33;
      color: #f2ffef;
    }

@media (max-width: 768px) {
  #title {
    width: 530px;
  }
  .b-add-blog__form-button {
    right: 10px;
  }
    .b-add-blog__form .button.middle {
      width: 165px;
      padding: 1px 10px 1px 30px;
    }
}
