.b-filter-wrapp {
  width: 100%;
}
    .b-filter-wrapp h4 {
      color: #1C5BC9;
      text-align: center;
      font-weight: bold;
    }
      .b-filter-wrapp h4 + p {
        margin-top: 10px;
        text-align: center;
      }
        .b-filter-wrapp h4 + p a {
          color: #333333;
        }
      .b-filter__form-item.droplist {
        margin-top: 20px;
        width: 100%;
      }
      .b-filter__form .button.middle {
        margin-top: 20px;
        width: 100%;
      }
  
  .b-filter__switch {
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .b-main-title .b-filter__switch {
    display: none;
  }
    .b-main-title  .show-filter.b-filter__switch {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  .b-filter__switch-item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 40px;
    padding: 0 3px;
    white-space: nowrap;
    text-align: center;
    font-size: 0.6rem;
    line-height: 36px;
    border: 1px solid rgba(28, 91, 201, 0.1);
    border-left: none;
    background-color: #FFFFFF;
    color: #0038A8;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: color 0.2s ease,
                background-color 0.2s ease;
  }
    .b-filter__switch-item:first-child {
      border-radius: 18px 0 0 18px;
      border: 1px solid rgba(28, 91, 201, 0.1);
    }
    .b-filter__switch-item:last-child {
      border-radius: 0 18px 18px 0;
      border: 1px solid rgba(28, 91, 201, 0.1);
      border-left: none;
    }
    .m-filter__switch-item_active.b-filter__switch-item {
      background-color: #0038A8;
      color: #FFFFFF;
    }
  .b-filter__form {
    clear: both;
  }

.droplist-block,
.droplist-current {
  text-align: center;
 }