.b-company {
  
}
  .paginator .container .item {
    font-size: 0.7rem;
    line-height: 1.2rem;
    margin:  0 10px;
    width: calc(50% - 20px);
  }
    .paginator .container .b-company__item.item img {
      height: auto;
      width: auto;
      max-height: 250px;
      padding-right: 10px;
      padding-bottom: 5px;
      margin: 0;
    }
    .paginator .container .b-company__item.item .text {
      line-height: 1.1rem;
      margin-top: 15px;
    }
    .b-company__item h4 a {
      margin-bottom: 10px;
      
      color: #333333;
    }
      .b-company__item a {
        font-weight: bold;
        color: #1C5BC9;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
      }
        .b-company__item a:hover {
          color: #297DE2;
        }
      .b-company__item-sector {
        padding: 2px 0x;
      }
      .link:before {
        margin: 0 10px;
        font-family: 'FontAwesome';
        font-weight: normal;
        font-size: 0.7rem;
        content: '\f061';
      }

.b-add-company__wrapp {
  width: 100%;
}
  .block.b-add-company {
    background-color: #1C5BC9;
  }
  .b-add-company {
    margin-top: 20px;
  }
    .block.b-add-company h5 {
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 15px;
    }