.b-community {
  
}
  .b-community .b-main-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 20px;
  }
    .b-main-title .b-filter__switch {
      max-width: 435px;
    }
  .b-community__container {
    padding-top: 16px;
  }
  .b-community__item {
    -ms-flex-preferred-size: calc(33.33337% - 20px);
    -webkit-flex-basis: calc(33.33337% - 20px);
    flex-basis: calc(33.33337% - 20px);
    max-width: calc(33.33337% - 20px);
  }
    .b-community__item img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 4px;
    }
    .b-community__item-info {
      position: relative;
      margin-top: 20px;
    }
      .b-community__item-avatar {
        position: absolute;
        top: -65px;
        left: -5px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #FFFFFF;
      }
        .b-community__item-avatar img {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          margin: auto;
        }

  .b-community__item .text {
    line-height: 1.1rem;
  }
    .b-community__item-auto {
      font-weight: bold;
      color: #1C5BC9;
    }
      .b-community__item-auto a:hover {
        color: #297DE2;
      }
    .b-community__item-author {
      margin-top: 6px;
    }
      .b-community__item-author a {
        color: #333333;
      }
        .b-community__item-author a:hover {
          color: #595959;
        }
      .b-community__item-author a:not(:last-child) {
        margin-right: 10px;
      }
   
  .b-filter__switch-item {
    float: left;
    height: 40px;
    width: 33.3333337%;
    text-align: center;
    font-size: 0.7rem;
    line-height: 36px;
    border-left: none;
    background-color: #FFFFFF;
    color: #0038A8;
    transition: color 0.2s ease,
                background-color 0.2s ease;
  }
    .b-filter__switch-item:first-child {

    }
    .b-filter__switch-item:last-child {
      border-left: none;
    }
    .m-filter__switch-item_active.b-filter__switch-item {
      background-color: #0038A8;
      color: #FFFFFF;
    }

  .b-filter__form {
    clear: both;
    padding-top: 20px;
  }
      .b-filter-wrapp .droplist-item,
      .b-filter-wrapp .droplist-current {
        text-align: center;
      }
    .b-add-car__form-item.droplist {
      width: 100%;
    }
    .b-add-car__form-item.droplist:not(:first-child) {
      margin-top: 20px;
    }    .b-filter__form .button.middle {
      margin-top: 20px;
      width: 100%;
    }