.b-title {
}
  .b-title__navigation {
    position: absolute;
    top: 30px;
    left: 25px;
  }
    .b-title__navigation a:not(:last-child):after {
      content: '>';
      margin: 0 5px;
    }
  .b-title__content {
    margin-top: 26px;
  }
    .b-title__content h1 {
      color : #1C5BC9;
    }
    .b-title-text {
      margin-bottom: 10px;
    }
    .b-title__content-photo {
      position: relative;
    }
      .b-title__content-photo img {
        margin-bottom: 10px;
        height: 569px;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
      .b-title__content-photo-vote {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0 40px;
        height: 40px;
        font-family : Open Sans;
        font-weight : bold;
        font-size : 0.8rem;
        line-height : 40px;
        color : #FFFFFF;
        background-color: rgba(255, 157, 0, 0.8);
        border-radius: 20px;
      }
    .b-title__content-list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
      .b-title__content-list li {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        position: relative;
        height: 55px;
        vertical-align: top;
        text-align: center;
        font-family : Open Sans;
        font-size : 1.4rem;
        line-height : 41px;
        color : #1C5BC9;
      }
      .b-title__content-list li {
        border-right: 1px solid rgba(64,64,64,0.1);
      }
        .b-title__content-list li:first-child,
        .b-title__content-list li:last-child {
          border-right: none;
        }
        .b-title__content-list a {
          display: block;
          height: 63px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .b-title__content-list li:after {
          position: absolute;
          width: 100%;
          bottom: -5px;
          left: 0;
          content: attr(data-text);
          text-align: center;
          font-family : Open Sans;
          font-size : 0.7rem;
          line-height : 20px;
          color : #333333;
        }

.l-property {
  
}
  .b-property {
  }
  .b-property-string {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid rgba(163, 163, 163, 0.4);
  }
  .b-property-string:last-child {
    margin-bottom: 5px;
  }
    .b-property h6,
    .b-property h6 + p.text {
      position: relative;
      bottom: -1px;
      line-height: 1.42em;
      background-color: #FFFFFF;
    }
    .b-property h6 {
      color : #1C5BC9;
      padding-right: 10px;
    }
    .b-property h6 + p.text {
      padding-left: 10px;
    }

.l-logbook {
  
}
  .b-logbook {
    
  }
    .b-logbook-wrapp h3 {
      float: left;
    }
      .b-logbook-sum {
        
      }
        .b-logbook-sum:after {
          content: ')';
        }
        .b-logbook-sum:before{
          content: '(';
        }
    .b-logbook-wrapp a.add-button {
      float: right;
    }
  .b-logbook__container {
    clear: both;
    padding-top: 20px;
  }
    .b-logbook__container-item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 20px;
      background-color: rgba( 247, 247, 247, 0.5);
      border-radius: 4px;
    }
      .b-logbook__container-item:not(:last-child) {
        margin-bottom: 20px;
      }
      .b-logbook__container-item img {
        -webkit-flex: 1 0 calc(33.3333337% - 20px);
        -ms-flex: 1 0 calc(33.3333337% - 20px);
        flex: 1 0 calc(33.3333337% - 20px);
        max-width: calc(33.3333337% - 20px);
        width: calc(33.3333337% - 20px);
        max-height: 120px;
        object-fit: cover;
        border-radius: 4px;
      }
      .b-logbook__container-item-text {
        -webkit-flex: 3 0 66.66667%;
        -ms-flex: 3 0 66.66667%;
        flex: 3 0 66.66667%;
        max-width: 66.66667%;
        margin-left: 20px;
      }
        .b-logbook__container-title {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        .b-logbook__container-item-text h4 {
          color: #1C5BC9;
          -webkit-flex: 5;
          -ms-flex: 5;
          flex: 5;
        }
        .b-logbook__container-item-text .data {
          min-width: 80px;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          margin-left: 20px;
          text-align: right;
        }
        .b-logbook__container-item-text p.text {
          clear: both;
          max-height: 5.7rem;
        }
    .display-all {
      text-align: center;
      color: #1C5BC9;
      cursor: pointer;
    }

.l-about-auto {
}
  .b-about-auto h3,
  .b-coment h3 {
    margin-bottom: 10px;
    color : #1C5BC9;
  }