.b-community {
  
}
  .paginator .container .item {
    font-size: 0.7rem;
    line-height: 1.7rem;
    width: calc(25% - 8px);
  }
  .b-community__item .text {
    line-height: 1.1rem;
  }
  .b-community__item a {
    font-weight: bold;
    color: #1C5BC9;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
    .b-community__item a:hover {
      color: #297DE2;
    }

.b-filter-wrapp {
  width: 100%;
}
  .b-filter-wrapp a {
    color: #0038A8;
  }
  .b-filter__switch {
    margin-top: 20px;
  }
  .b-filter__switch-item {
    float: left;
    height: 40px;
    width: 33.3333337%;
    text-align: center;
    font-size: 0.65rem;
    line-height: 36px;
    border: 2px solid #0038A8;
    border-left: none;
    background-color: #FFFFFF;
    color: #0038A8;
    -webkit-transition: color 0.2s ease,
                background-color 0.2s ease;
    transition: color 0.2s ease,
                background-color 0.2s ease;
  }
    .b-filter__switch-item:first-child {
      border-radius: 18px 0 0 18px;
      border: 2px solid #0038A8;
    }
    .b-filter__switch-item:last-child {
      border-radius: 0 18px 18px 0;
      border: 2px solid #0038A8;
      border-left: none;
    }
    .m-filter__switch-item_active.b-filter__switch-item {
      background-color: #0038A8;
      color: #FFFFFF;
    }

  .b-filter__form {
    clear: both;
    padding-top: 10px;
  }
    .b-add-car__form-item.droplist {
      margin-top: 20px;
      width: 100%;
    }
    .b-filter__form .button.middle {
      margin-top: 20px;
      width: 100%;
    }