.b-news {
}
  a h5,
  a span {
    color: #0038A8;
  }
    a h5:hover,
    a span :hover {
      color: #1C86C9;
    }

.b-news__wrap {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  margin-left: -10px;
  margin-right: -10px;
}
    .b-news__wrap-item {
      position: relative;
      -webkit-flex: 1 0 calc(33.33337% - 20px);
      flex: 1 0  calc(33.33337% - 20px);
      margin-bottom: 20px;
      margin: 0 10px 20px;
      max-width: calc(33.33337% - 20px);
      padding: 10px;
      border: 1px solid #CECECE;
      border-radius: 4px
    }
    .b-news__wrap-item p+a {
      display: block;
      clear: both;
    }
    .b-news__wrap-item img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .b-news__wrap-item h5 {
      margin-bottom: 5px;
    }
    .b-news__wrap-item p.text {
      position: relative;
    }
    .news-link {
      position: absolute;
      bottom: -0.2em;
      right: 0;
      font-weight: bold;
      color: #1C5BC9;
      background: linear-gradient(to right, transparent 0, #FFFFFF 35%);
    }
      .news-link:before {
        margin: 0 10px;
        padding-left: 30px;
        font-family: 'FontAwesome';
        font-weight: normal;
        font-size: 0.7rem;
        content: '\f061';
      }

.b-popular {
  margin-top: 20px;
}
  .b-popular h4 {
    color: #0038A8;
    margin-bottom: 20px;
  }
  .b-popular__item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
    .b-popular__item a {
      color: #0038A8;
    }
    .b-popular__item a:hover {
      color: #1C86C9;
    }
    .b-popular__item:last-child {
      margin-bottom: 0;
    }
    .b-popular__item img {
      margin-bottom: 10px;
      width: 100%;
      height: 160px;
      object-fit: contain;
    }

  .show-yet {
    text-align: center;
  }
    .show-yet a {
      color: #0038A8;
    }
    .show-yet a:hover {
      color: #1C86C9;
    }
