/* .l-one-ad, 
.l-similar {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
} */
.b-one-ad-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
  .b-one-ad .top:not(:last-child):after {
    padding: 0 15px;
    content: '›';
  }

.b-one-ad h3,
.b-one-ad h4 {
  color: #0038A8;
}
.b-main-title {
  margin-top: 26px;
  margin-bottom: 20px;
}
.b-one-ad__main-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
  .b-one-ad__info {
    -webkit-flex: 0 0 calc(25% - 20px);
    -ms-flex: 0 0 calc(25% - 20px);
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-left: 20px;
  }
    h3.b-one-ad__info-price {
      padding: 5px 0 15px 0;
      text-align: center;
      margin-bottom: 20px;
      background-color: #FFCC5C;
      border-radius: 1px 16px 1px 16px;
      color: #333333;
      line-height: 1.5em
    }
      .b-one-ad__info-price[data-bargain]:after {
        display: block;
        content: attr(data-bargain);
        font-family: 'Open Sans', sans-serif;
        font-size : 0.6rem;
        line-height : 1.16em;
        color: #333333;
      }
  .b-one-company__date {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ADADAD;
  }
  .wrap-tags {
    white-space: normal;
    line-height: 1.2rem;
  }
  .b-one-ad__viewport {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    height: 550px;
    background-color: #000000;
    margin-bottom: 20px;
    object-fit: contain;
  }
    .b-one-ad__img-block {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: 20px;
    }
      .b-one-ad__img-item {
        height: 80px;
        -webkit-flex: 0 0 calc(20% - 20px);
        -ms-flex: 0 0 calc(20% - 20px);
        flex: 0 0 calc(20% - 20px);
        min-width: calc(20% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
        object-fit: cover;
        border-radius: 4px;
        cursor: pointer;
      }
    .b-one-ad__about {
      max-width: 600px;
      margin-bottom: 20px;
    }
    .b-one-ad__form {
      margin-top: 20px;
    }
    .m-one-ad__contact_telephone a {
      color: #333333;
    }
    .m-form-item_textarea textarea {
      width: 100%;
    }
    .b-one-ad__form input[type='submit']{
      margin-top: 20px;
    }
    .m-one-ad__contact_telephone a {
      color: #333333;
    }

  .b-contact p.text.subtext {
    color: #ADADAD;
    text-align: center;
    margin: 5px 0 25px;
  }
  .b-contact .text.bold {
    text-align: center;
    color: #1C5BC9;
  }
  .b-contact__saler {
    margin: 5px 0 40px;
    padding-top: 30px;
  }
    .b-contact__saler img {
      display: block;
      height: 120px;
      width: 120px;
      margin: 0 auto;
      margin-bottom: 20px;
      border-radius: 50%;
      object-fit: cover;
    }
  .b-contact p.text.bold a {
    color: #1C5BC9;
  }
.b-contact__saler-item {
    text-align: center;
  }
  .b-contact__saler-item a {
    text-align: center;
    color: #333333;
  }
  .b-contact__saler-item.city {
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
  }
  .b-contact__saler-item.email {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .b-contact h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ADADAD;
  }
  .b-contact .button {
    width: 100%;
    margin-bottom: 20px;
  }