  .b-news__wrap-item {
    clear: both;
    margin-top: 16px;
    margin-bottom: 20px !important;
    min-width: -webkit-calc(100% - 20px);
    min-width: calc(100% - 20px);
  }
    .b-news__wrap-item h4 {
      margin-bottom: 10px;
      font-weight: bold;
      line-height: 38px;
      color: #333333;
    }
    .b-news__wrap-item figure{
      margin-bottom: 10px;
      width: 100%;
    }
    .b-news__wrap-item p.text {
      margin-bottom: 10px;
    }
    .read-button {
      display: inline-block;
    }
      .firefox .b-news__wrap-item p.text[data-clamp] {
        height: 4.3em;
      }
    .b-news__wrap-item p.rating-comments-block {
      float: right;
      margin-bottom: 0;
      line-height: 32px;
    }

.b-add-post {
  margin-bottom: 20px;
  border: 2px solid #ABE766;
}
  .b-add-post h5 {
    position: relative;
    font-weight: bold;
    text-align: center;
    margin-bottom: 138px;
  }
    .b-add-post h5:after {
      position: absolute;
      display: block;
      content: '';
      top: 100%;
      height: 137px;
      width: 100%;
      background-image: url('../img/bg-aside-bar-news.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 185px auto;
    }

.l-filter .droplist {
  width: 100%;
}

  .l-filter .dListText,
  .l-filter .SelectItem {
    text-align: center;
  }
  

.b-popular {
  margin-top: 20px;
}

.b-popular__wrapp {
  
}
  .b-popular__wrapp h4 {
    color: #1C5BC9;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
    .b-popular__wrapp .droplist-item,
    .b-popular__wrapp .droplist-current {
      text-align: center;
    }

  .b-popular__item {
    margin-top: 20px;
  }
    .b-popular__item-img {
      width: 100%;
      margin-bottom: 7px;
      border-radius: 4px;
    }
    .firefox .b-popular__item a.text[data-clamp] {
      max-height: 4.2em;
    }

  .display-all {
    margin-top: 20px;
  }