/* .l-one-ad, 
.l-similar {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
} */

.b-one-ad h3,
.b-one-ad h4 {
  color: #0038A8;
}
.b-one-ad__main-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
  .b-one-ad__info {
    -webkit-flex: 0 0 -webkit-calc(25% - 20px);
    -ms-flex: 0 0 calc(25% - 20px);
    -webkit-box-flex: 0;
    flex: 0 0 calc(25% - 20px);
    max-width: -webkit-calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-left: 20px;
  }
    h3.b-one-ad__info-price {
      padding: 5px 0 15px 0;
      text-align: center;
      margin-bottom: 20px;
      background-color: #FFCC5C;
      border-radius: 1px 16px 1px 16px;
      color: #333333;
      line-height: 1.5em
    }
      .b-one-ad__info-price[data-bargain]:after {
        display: block;
        content: attr(data-bargain);
        font-family: 'Open Sans', sans-serif;
        font-size : 0.6rem;
        line-height : 1.16em;
        color: #333333;
      }
  .b-one-company__date {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ADADAD;
  }
  .b-one-ad__viewport {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
    background-color: #000000;
    margin-bottom: 20px;
  }
    .b-one-ad__img-block {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: 20px;
    }
      .b-one-ad__img-item {
        -webkit-flex: 0 0 -webkit-calc(20% - 20px);
        -ms-flex: 0 0 calc(20% - 20px);
        -webkit-box-flex: 0;
        flex: 0 0 calc(20% - 20px);
        min-width: -webkit-calc(20% - 10px);
        min-width: calc(20% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    .b-one-ad__about {
      max-width: 600px;
      margin-bottom: 20px;
    }
    .b-one-ad__form {
      margin-top: 20px;
    }
    .m-one-ad__contact_telephone a {
      color: #333333;
    }
    .m-form-item_textarea textarea {
      width: 100%;
    }
    .b-one-ad__form input[type='submit']{
      margin-top: 20px;
    }
    .m-one-ad__contact_telephone a {
      color: #333333;
    }

  .b-contact .text.bold {
    text-align: center;
    color: #0038A8;
  }
  .b-contact > div {
    padding-bottom: 40px;
  }
  .b-contact__saler {
    padding: 5px 0;
  }
    .b-contact__saler img {
      display: block;
      height: 110px;
      width: 110px;
      margin: 0 auto;
      margin-bottom: 20px;
      border-radius: 50%;
      object-fit: cover;
    }
  .b-contact p.text.bold a {
    font-size: 0.8rem;
    color: #0038A8;
  }
  .b-contact__saler-item {
    clear: both;
  }
  .b-contact__saler-item span.text.bold {
    float: left;
    color: #333333;
  }
  .b-contact__saler-item span.text + a {
    float: right;
  }
.b-contact__saler-item {
    text-align: center;
    overflow: auto;
  }
  .b-contact__saler-item a {
    text-align: center;
    color: #333333;
  }
  .b-contact__saler-item.city {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  .b-contact__saler-item.email {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .b-contact h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ADADAD;
  }
  .b-contact .button {
    width: 100%;
    clear: both;
    overflow: auto;
    margin-bottom: 15px;
  }
    .b-contact .button:before {
      content: '\f0e0';
      margin: 0 10px 0 5px;
      font-family: 'FontAwesome';
      font-size: 0.7rem;
    }
  button.button + p {
    text-align: center;
  }
  .b-contact__other-ad {
    margin-bottom: 20px;
    text-align: center;
  }
  .b-contact__other-ad-wrapp {
    max-height: -webkit-calc(100vh - 158px);
    max-height: calc(100vh - 158px);
    overflow: hidden;
  }
  .b-contact__other-ad:after {
    content: '\00A0('attr(data-sum-ad)')';
  }
.b-contact__other-ad-item {
  margin-bottom: 10px;
}
  .b-contact__other-ad-wrapp {
    margin-top: 20px;
  }
.b-one-ad__other {
  margin-top: 20px;
}
  .b-one-ad__other h3 {
    margin-bottom: 20px;
  }}